<?xml version="1.0" encoding="utf-8" ?>
<DecisionMarkd>
	<SpecFileExtension>.spec.md</SpecFileExtension>
	<TestingFramework>xUnit</TestingFramework>
	<TestFileNamePattern>{spec_name}.generated.cs</TestFileNamePattern>
	<ImplementationFileNamePattern>{spec_name}.implementation.generated.cs</ImplementationFileNamePattern>
	<TestFilePath>D:\DEV\Projects\decision-markd\tests\DecisionMarkd.Tests</TestFilePath>
	<ImplementationFilePath>D:\DEV\Projects\decision-markd\tests\DecisionMarkd.Tests</ImplementationFilePath>
	<Namespace>DecisionMarkd.Tests</Namespace>
</DecisionMarkd>