<?xml version="1.0" encoding="utf-8" ?>
<DecisionMarkd>
	<TestingFramework>xUnit</TestingFramework>
	<TestFilename>{spec_name}.{fixture_name}.generated.cs</TestFilename>
	<ImplementationFilename>{spec_name}.{fixture_name}.implementation.generated.cs</ImplementationFilename>
	<Filepath>D:\DEV\Projects\decision-markd\tests\DecisionMarkd.Tests</Filepath>
	<Namespace>DecisionMarkd.Tests</Namespace>
</DecisionMarkd>