<?xml version="1.0" encoding="utf-8" ?>
<SpecFirst>
	<SpecFileExtension>.spec.md</SpecFileExtension>
	<TestingFramework>xUnit</TestingFramework>
  <TestGeneration>
    <TestProject>{spec_project}.Tests</TestProject>
    <TestFileName>{spec_name}Tests.g.cs</TestFileName>
    <ImplFileName>{spec_name}Tests.impl.g.cs</ImplFileName>
  </TestGeneration>
</SpecFirst>