<?xml version="1.0" encoding="utf-8" ?>
<SpecFirst>
	<SpecFileExtension>.spec.md</SpecFileExtension>
	<TestingFramework>xUnit</TestingFramework>
  <TestGeneration>
    <TestProject>{spec_project}.Tests</TestProject>
    <TestFile>{spec_name}Tests.g.cs</TestFile>
    <ImplFile>{spec_name}Tests.impl.g.cs</ImplFile>
  </TestGeneration>
</SpecFirst>