<?xml version="1.0" encoding="utf-8" ?>
<SpecFirst>
	<SpecFileExtension>.spec.md</SpecFileExtension>
	<TestingFramework>xUnit</TestingFramework>
	<TestFileNamePattern>{spec_name}.generated.cs</TestFileNamePattern>
	<ImplementationFileNamePattern>{spec_name}.implementation.generated.cs</ImplementationFileNamePattern>
	<TestFilePath>D:\DEV\Projects\spec-first\tests\SpecFirst.Tests</TestFilePath>
	<ImplementationFilePath>D:\DEV\Projects\spec-first\tests\SpecFirst.Tests</ImplementationFilePath>
	<Namespace>SpecFirst.Tests</Namespace>
</SpecFirst>